.DS_Store
npm-debug.log*
yarn-error.log*

# Ignore master key for decrypting credentials and more.
/config/master.key
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
